@font-face {
  font-family: "Norse Bold";
  src: url(./Norse-Bold.otf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
}

img {
  max-width: 100%;
}

p {
  max-width: 64ch;
}

.one {
  flex: 1 1 40%;
  background-image: url(./halie-west.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
}

.two {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.third,
.secOne,
.secTwo,
.secThree {
  flex: 1 0 45vh;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.logo {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 0.5);
  padding: 1rem 0;
}

.logo p {
  font-size: 4.5rem;
  font-family: "Norse Bold";
  margin-top: 1.5rem;
}

img {
  width: 80px;
  height: auto;
}

.three {
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.three p {
  padding-bottom: 0.5rem;
}

.three a,
.three p,
.three span {
  color: #fff;
  opacity: 0.7;
  font-size: 0.8rem;
}

.three span {
  text-decoration: underline;
}

.secOne,
.secThree {
  background-color: #f9fafb;
}

.secOne {
  font-weight: bold;
  display: flex;
  align-items: end;
}

.secOne p,
.secOne em {
  font-size: 1.5rem;
}

.intro {
  margin-bottom: 4.5rem;
}

.para {
  margin-bottom: 2rem;
}

.bold {
  font-weight: bold;
}

.bigger {
  font-size: 1.5rem;
}

.encourage {
  font-weight: 500;
  font-size: 2rem;
}

.secTwo {
  padding: 1.5rem 0;
}

.formSec {
  width: 100%;
}

.space {
  padding: 0 2rem;
}

.cat {
  display: flex;
  width: 75%;
  gap: 3rem;
}

.inputSec {
  flex: 1;
  display: flex;
  flex-direction: column;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
}

input {
  padding: 0.25rem 0.5rem;
  border: 1px solid #e5e7eb;
}

input[type="password"]:invalid {
  border-color: red;
}

input:focus {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

label {
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: dimgrey;
}

.cat:first-of-type,
.cat:last-of-type {
  padding: 1rem 0;
}

.secTwo,
.secThree {
  display: flex;
  justify-content: flex-start;
}

button {
  background-color: #596d48;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 1.5rem 0 2rem 0;
}

button:hover,
.buttonSec a:hover {
  filter: brightness(85%);
}

.buttonSec,
button {
  font-weight: 600;
}

.buttonSec a {
  color: #596d48;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    width: 100%;
  }

  .space {
    padding: 2rem 1rem 0 1rem;
  }

  .noTwo {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .cat {
    flex-direction: column;
    gap: 2rem;
  }
}
